<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Wypełnij, aby utworzyć konto</h1>
    <form action="/accounts" method="post">
        <div>
            <label for="login">login:</label>
            <input type="text" name="login" id="login">
        </div>
        <div><input type="text" name="password"></div>
        <div><input type="text" name="name"></div>
        <div><input type="text" name="firstName"></div>
        <div><input type="text" name="lastName"></div>

        <div><button type="submit">wyślij</button></div>
    </form>
</div>
</body>
</html>